* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

table {
  color: var(--text-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

